<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<style>
 

  .content {
    display: flex;
     margin: auto;
    padding-bottom: 50%;
    padding: 0 16px;
    align-self: center;
    flex-direction: column;
    width: 90%;
    height: 500px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    box-shadow: 3px 3px 3px rgb(158, 158, 158);
  }
  .contentmobile {
    display: block;
     margin: auto;
     margin-top: 30px;
    padding-bottom: 50%;
    padding: 0 16px;
    align-self: center;
    flex-direction: column;
    width: 525px;
    height: 700px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    box-shadow: 3px 3px 3px rgb(158, 158, 158);
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  .card-containermobile {
    display:block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  .center{
    float:left;
    margin right: 70%;
  }
  .centermob{
    float:left;
    margin right: 70%;
    height: 40px;
    margin-bottom:10%;
  }
  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #fafafa;
    height: 40px;
    width:auto;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .midcard {
    all: unset;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #fafafa;
    height: 40px;
    width:auto;
    margin: 0 8px 16px;
    padding: 16px;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .cardright {
    all: unset;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #fafafa;
    height: 20px;
    width:auto;
    margin: 0 0px 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .cardcenter {
    all: unset;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #fafafa;
    height: 20px;
    width:auto;
    margin: 0 0px 0px;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items:center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .card-container .card:not(:last-child) {
    margin-right: 0;
    margin: 0px;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }
  .bold{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:14%;  
  }
  .bold2 {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:15%;  
  }
  .bolds{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:0%;  
    font-size: 15px;
  }
  .blues{
    color: rgb(65, 175, 219);
    font-weight: bold;
    margin-left: 0px;
    font-size: 15px;
  }
  .dots {
    margin-left: 4%;
  }
  .blue{
    color: rgb(65, 175, 219);
    font-weight: bold;
    margin-left: 14%;
  }
  .blue1{
    color: rgb(65, 175, 219);
    font-weight: bold;
    margin-left: 4px;
  }
  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }
  .imgdots{
    margin:0px;
  }
  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }
  .icon {
    float: left;
  }
  .img-responsive {
    border-radius: 2%;
    box-shadow: 3px 3px 3px rgb(107, 107, 107);
    margin-bottom: 10%;
  }
  .img-responsivemob {
    border-radius: 2%;
    box-shadow: 3px 3px 3px rgb(107, 107, 107);
    margin-bottom: 0%;
    margin-left: 4.5%;
    margin-right: 9%;
  }
  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }
  .firstcard{
   
    align-self: left;
    align-content: left;
    margin-left: -38%;
    margin-right: 0%;
    float: left;
  }
  .firstcardmobile {
   
   align-self: center;
   align-content: center;
   align-items: center;
   margin-left: 0%;
   margin-right: 0%;
   float: center;
   margin-top: 30%;
   width: 500px;
   height: 300px;
 }
  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  .last{
    align-self: right;
    align-content: right;
    margin-left: 30%;
    margin-right: -30%;
  }
  .lastmob{
    align-self: center;
    align-content: center;
    margin-left: 0%;
    text-align: center;
    
  }
  .new{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10%;
    color: black;
    margin-left: 10%;
    width: 160px;
  }

  .newmob{
    font-weight: bold;
    font-size: 16px;
    margin-top: 8%;
    color: black;
    margin-left: 0%;
    width: auto;
    text-align: center;
    margin-right: 0px;
  }
  .finalxt{
    display: block;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>




<div class="content" role="main">

  <div class="center">
  <img  class="icon" style="float:left;clear:left;"  src="https://i.ibb.co/kgpkXG7/k.png">
  <img  class="icon2" src="https://i.ibb.co/Gkd0dd7/Desktop-View-1904.png">
</div>

  <div class="card-container">
  <div class="firstcard">
    <div>
      <img  class="img-responsive" src="https://i.ibb.co/LJ8vLhv/Desktop-View-1904-s.png">
    </div>
      
      <span class="bold">Assignees</span>

      

    
      <span class="bold">Workflow</span>
      <img height="12px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/OOjs_UI_icon_edit-ltr.svg/480px-OOjs_UI_icon_edit-ltr.svg.png">

    
      <span class="bold2">Review score</span>
        <br>
      <span class="blue">Assignees</span>

      

    
      <span class="blue">IdeaReview/PLM II</span>
      

    
      <img class="dots" height="18px" src="https://i.ibb.co/7k0CvYp/Desktop-View-1904.png">
  </div>


  
    
    
      
  

  <div>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
      
      <span class="new">Idea Summary</span>
      
    </a>
  </div>
  <div class="last">
    <a class="cardright" target="_blank" rel="noopener" href="https://angular.io/devtools/">
     
      <span>Posted </span>
      <span class="blue1">Anonymus user</span>
      <img width="70" height="15" src="https://i.ibb.co/nn3YZD1/estrellas-concepto-icono-de-cinco-del-oro-127585854.jpg">
      <span>()</span>
    </a>
    <a class="cardright" target="_blank" rel="noopener" href="https://angular.io/devtools/">
      <img width="24" height="24" src="https://e7.pngegg.com/pngimages/904/526/png-clipart-computer-icons-online-calendar-information-agenda-miscellaneous-calendar.png">
      <span>June 27, 2019 12:00 pm</span>
    </a>
  </div>
  </div>

 

  

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Mobile* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="contentmobile" role="main">

  <div class="centermob">
  <img  class="icon" style="float:left;clear:left;"  src="https://i.ibb.co/kgpkXG7/k.png">
  <img  class="icon2" src="https://i.ibb.co/Gkd0dd7/Desktop-View-1904.png">
</div>

  <div class="card-containermobile">
  <div class="firstcardmobile">
    <div>
      <img  class="img-responsivemob" width="470px" src="https://i.ibb.co/LJ8vLhv/Desktop-View-1904-s.png">
    </div>

    <div class="lastmob">
      <a class="cardcenter" target="_blank" rel="noopener" href="https://angular.io/devtools/">
     
        <span>Posted </span>
        <span class="blue1">Anonymus user</span>
        <img width="70" height="15" src="https://i.ibb.co/nn3YZD1/estrellas-concepto-icono-de-cinco-del-oro-127585854.jpg">
        <span>()</span>
      </a>
      <a class="cardcenter" target="_blank" rel="noopener" href="https://angular.io/devtools/">
        <img width="24" height="24" src="https://e7.pngegg.com/pngimages/904/526/png-clipart-computer-icons-online-calendar-information-agenda-miscellaneous-calendar.png">
        <span>June 27, 2019 12:00 pm</span>
      </a>
     
      <p class="newmob">Idea Summary</p>
    </div>
    <div class="finalxt">
      <span class="bolds">Review score</span>
      <br>
      <img class="imgdots" height="18px" src="https://i.ibb.co/7k0CvYp/Desktop-View-1904.png">
      <br>
      <span class="bolds">Workflow</span>

      <img height="12px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/OOjs_UI_icon_edit-ltr.svg/480px-OOjs_UI_icon_edit-ltr.svg.png">
      <br>
      <span class="blues">IdeaReview/PLM II</span>
      <br>
      <span class="bolds">Assignees</span>
       
      <br>
      <span class="blues">Assignees</span>
    </div>
      
  </div>


  <div class="midcard">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
      
   
      
    </a>
  </div>
 
  </div>

  
 

  

</div>
